.navBar-wrapper {
  width: 100%;
}

.Header {
  background-color: #0f1111;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header_logo {
  width: 150px;
  object-fit: contain;
  height: 50px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 30px 30px;
  /* box-shadow: 5px 5px 5px white; */
}
.header_search {
  display: flex;
  flex: 1;
}
.header_searchInput {
  height: 14px;
  padding: 10px;
  border: none;
  width: 100%;
}
.header_searchIcon {
  padding: 5px;
  height: 10px;
  background-color: rgb(140, 140, 239);
}
.header_nav {
  display: flex;
  justify-content: space-evenly;
}
.header_link {
  color: white;
  text-decoration: none;
}
.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
.header_optionLineOne {
  font-size: 13px;
}
.header_optionLineTwo {
  font-size: 15px;
  font-weight: 600;
}
.header_optionBasket {
  display: flex;
  align-items: center;
}
.header_basketCount {
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (max-width: 280px) {
  .Header {
    flex-direction: column;
  }
  .header_logo {
    margin-bottom: 5px;
  }
  .header_search {
    width: 80%;
    margin: 10px 0px;
  }
  .header_nav {
    margin: 10px;
  }
  .header_link {
    margin: 10px;
  }
}
@media screen and (min-width: 280px) and (max-width: 415px) {
  .Header {
    flex-direction: column;
  }
  .header_logo {
    margin-bottom: 5px;
  }
  .header_search {
    width: 80%;
    margin: 10px 0px;
  }
  .header_nav {
    margin: 10px;
  }
  .header_link {
    margin: 10px;
  }
}
@media screen and (min-width: 415px) and (max-width: 1000px) {
  .Header {
    flex-direction: column;
  }
  .header_logo {
    margin-bottom: 5px;
  }
  .header_search {
    width: 80%;
    margin: 10px 0px;
  }
  .header_nav {
    margin: 10px;
  }
  .header_link {
    margin: 10px;
  }
}
