.product {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 10px;
  width: 100%;
  max-width: 700px;
  background-color: #ffffff;
  z-index: 1;
  position: relative;
}
.product_info {
  /* height: 100px; */
  margin-block-end: 15px;
}
.product_price {
  margin-top: 5px;
}
.product_rating {
  display: flex;
}
.product > img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}
.product > button {
  background-color: #8cd1ef58;
  border: 2px solid rgba(125, 129, 240, 0.519);
  position: absolute;
  bottom: 0px;
  width: 90%;
  margin-left: 5%;
}

@media screen and (max-width: 280px) {
  .product {
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 280px) and (max-width: 415px) {
  .product {
    margin: 10px 0px;

    padding: 10px;
    box-sizing: border-box;
  }
  /* .product > img {
    height: 100px;
    width: 100px;
  } */
}
@media screen and (min-width: 415px) and (max-width: 800px) {
  .product {
    margin: 10px auto;
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
  }
}
